html {
    height : 100vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}
.profile{
  background-color: thistle;
  display: block;
}
.profile-info{
  background-color: blue;
}
form {
  width: 40%;
  max-width: 600px;
  margin: 0 auto;
  font-size: 18px;
  font-family: Arial, sans-serif;
}
label {
  display: block;
  margin-bottom: 10px;
}
input[type="text"], textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}
input[type="radio"], input[type="checkbox"] {
  margin-right: 10px;
}
input[type="submit"] {
  display: block;
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}
input[type="submit"]:hover {
  background-color: #0056b3;
}
.card-form{
  background-color: #007bff;
}
.dashboard{
  background-color: purple;
}
.profile-card {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.profile-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.profile-icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-card h2 {
  margin-top: 0;
  font-size: 2.5rem;
}

.profile-card p {
  font-size: 1.2rem;
  margin: 5px 0;
}
@media (max-width: 600px) {
  .profile-card {
    max-width: 90%;
  }
  .profile-card h2 {
    font-size: 2rem;
  }
}
  /* .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label, .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  #submit {
    border: none;
    background: transparent;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
  }
  
  #submit:hover {
    background: #03e9f4;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 
                0 0 25px #03e9f4, 
                0 0 50px #03e9f4, 
                0 0 100px #03e9f4;
  }
  
  
  #activity-level {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
  }
  
  #activity-level option {
    background-color: #243b55;
  }
  
  #activity-level:focus {
    border-color: #03e9f4;
  }
  
  #activity-level:focus option:checked {
    background-color: #03e9f4;
    color: white;
  }
  
  #activity-level:focus option:not(:checked) {
    background-color: #243b55;
    color: white;
  }
  
  #activity-level:focus option:hover {
    background-color: #03e9f4;
    color: white;
  }
  
  
  .user-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    width: 45%;
  }
  
  .input-container input {
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
  }
  
  .input-container label {
    padding: 10px 0;
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: .5s;
  }
  
  #inches {
    left: 176px;
  } */
  